@import '../mimic-palette.scss';

.help-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  font-size: 21pt;
  font-weight: 800;
  border-radius: 50%;
  background-color: $color-bg-light;
  color: $color-bg-dark;
  transition: all 0.2s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $color-text-light;
    cursor: pointer;
    box-shadow: 0 0 0 3px $color-bg-light;
  }
}

.game-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .game-screen {
    width: 600px;
    height: 100%;

    display: grid;
    grid-template-areas:
      '... other-player ...'
      '... help-text ...'
      'lights lights lights'
      '... sequence-panel ...'
      '... your-player ...';
    grid-template-columns: minmax(0, 50px) minmax(0, 500px) minmax(0, 50px);
    grid-template-rows:
      minmax(0, 100px) minmax(0, calc(100% - 340px / 2)) minmax(0, 140px) minmax(
        0,
        calc(100% - 320px / 2)
      )
      minmax(0, 100px);

    .other-player {
      grid-area: other-player;
      background-color: $color-bg-light;
      border-radius: 0px 0px 5px 5px;
    }

    .help-text {
      grid-area: help-text;
      color: $color-text-light;
      font-size: 16pt;
      transition: all 0.4s ease-in;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .heading {
        font-size: 26pt;
      }
    }

    .light-panel-area {
      grid-area: lights;
    }

    .sequence-panel-area {
      grid-area: sequence-panel;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .your-player {
      grid-area: your-player;
      background-color: $color-bg-light;
      border-radius: 5px 5px 0px 0px;
    }
  }
}
