@import '../mimic-palette.scss';

.player-details {
  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .box {
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    &.name {
      flex: 0 0 auto;
      font-size: 18pt;
      color: $color-text-light;
      justify-self: flex-start;
    }

    &.status {
      flex: 0 0 auto;
      font-size: 13pt;

      .heading {
        padding: 10px;
        border: 1px solid $color-text-dark;
        border-radius: 5px;
        background-color: $color-text-light;
        color: $color-text-dark;
      }
    }
  }
}
