@import '../mimic-palette.scss';

.sequence-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sequence-panel {
    overflow: auto;
    flex: 0 0 auto;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 10px;

    display: flex;
    flex-wrap: wrap;

    .item {
      flex: 0 0 auto;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px;
      margin-bottom: 5px;

      &.empty {
        background-color: $color-text-light;
      }

      &.r {
        background-color: $color-light-red-on;
      }
      &.g {
        background-color: $color-light-green-on;
      }
      &.b {
        background-color: $color-light-blue-on;
      }
      &.o {
        background-color: $color-light-orange-on;
      }
      &.p {
        background-color: $color-light-purple-on;
      }
    }
  }
}
