@import '../mimic-palette.scss';

.panel {
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: $color-bg-dark;
  color: $color-text-dark;
  transition: all 1s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  &.left {
    border-right: 1px solid $color-bg-light;
    &.open {
      transform: translate(-100%, 0);
    }

    &.closed {
      transform: translate(0, 0);
    }
  }

  &.right {
    left: 50%;
    border-left: 1px solid $color-bg-light;
    &.open {
      transform: translate(100%, 0);
    }

    &.closed {
      transform: translate(0, 0);
    }
  }

  .form {
    background-color: $color-bg-light;
    color: $color-text-light;
    border-radius: 5px;
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .header {
      flex: 1 1 15%;
      width: 100%;
      font-size: 30pt;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .body {
      flex: 1 1 70%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .label {
        margin-bottom: 5px;
        font-size: 14pt;
      }

      .text-input {
        margin-bottom: 15px;
      }

      .host-id {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .text-input {
          margin: 0;
        }

        .share-btn {
          height: 32px;
          width: 30px;
          padding: 4px 5px 5px 5px;
          margin-left: 2px;
          border: none;
          outline: none;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
          }

          svg {
            fill: $color-bg-dark;
          }
        }
      }
    }

    .footer {
      flex: 1 1 15%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.round-input {
  width: 50px;
  font-size: 13pt;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  color: $color-text-dark;
  background-color: $color-text-light;
}
