@import '../mimic-palette.scss';

.text-input {
  font-size: 13pt;
  line-height: 30px;
  text-align: center;
  color: $color-text-dark;
  background-color: $color-text-light;
  border-radius: 5px;
  border: none;
  outline: none;
}
