$color-bg-dark: #0a2e36;
$color-bg-light: #7d98a1;

$color-text-light: #eef1ef;
$color-text-dark: #0a2e36;

$color-light-red-on: #ce2e4d;
$color-light-red-off: #64313a;

$color-light-blue-on: #3896e6;
$color-light-blue-off: #37556e;

$color-light-green-on: #48c435;
$color-light-green-off: #416c3b;

$color-light-orange-on: #ff8c42;
$color-light-orange-off: #794e32;

$color-light-purple-on: #9845ce;
$color-light-purple-off: #57386a;

$font-size-large: 20pt;
$font-size-medium: 16pt;
$font-size-small: 12pt;
